<!doctype html>
<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
    <script src="app.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <link rel="stylesheet" href="app.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body style="margin-left:10px; margin-right:10px;">
    <div ng-controller="MainController">
        <h2>Server Says Hello Again</h2>

        <div class="row">
            <div class="col-xs-10">
                <div ng-repeat="message in messages track by $index">
                    <span class="message" ng-style="getStyle(message)">{{message}}</span>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-md" ng-click="sayHelloToServer()">Say It Again</button>
                
                <!-- Display metrics -->
                <!--<h4>Count: {{metrics.requestCount | number}}</h4>-->
            </div>
        </div>
    </div>
</body>

</html>